src/main/resources/nl/clockwork/efactuur/nl/domain/ubl/1.8/xsdrt/common/UBL-QualifiedDataTypes-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Document type:	QualifiedDataTypes
	Generated on:	Thu, 27-Jan-2011 09:34:51
	Generated by:	 eDoCreator
-->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2" xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns:ccts="urn:un:unece:uncefact:documentation:2">
  <!-- ===== Imports ===== -->
  <xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
  <!-- ===== Type Definitions ===== -->
  <xsd:complexType name="PackagingTypeCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Packaging Type_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of code values for Passengers, Types of Cargo, Packages and Packaging Materials (with Complementary Codes for Package Names)</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT12</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Packaging Type</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE rec 21">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Packaging Type">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="Revision 5">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/PackagingTypeCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:PackagingTypeCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Packaging Type_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PaymentMeansCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Payment Means_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of valid means of paying the debt incurred.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT13</ccts:UniqueID>
          <ccts:UsageRule>Used under the terms of the UNECE  policy stated at http://www.unece.org/ece_legal.htm.</ccts:UsageRule>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Payment Means</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE 4461">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition>Defaults to the UN/EDIFACT data element 3055 code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Payment Means">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="D03A">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition>Identifies the Directory of the UN/EDIFACT code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/PaymentMeansCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:PaymentMeansCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Payment Means_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LongitudeDirectionCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Longitude Direction_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The possible directions of longitude</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT10</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Longitude Direction</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Longitude Direction">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Longitude Direction">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/LongitudeDirectionCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:LongitudeDirectionCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Longitude Direction_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OperatorCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Operator_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of valid arithmetic operators</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT11</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Operator</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Operator">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Operator">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/OperatorCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:OperatorCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Operator_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TransportationStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Transportation Status_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of code values for Trade and Transport Status</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT16</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Transportation Status</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE rec 24">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Transportation Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="Third Revision">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/TransportationStatusCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:TransportationStatusCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transportation Status_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TransportEquipmentTypeCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Transport Equipment Type_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of code values for qualifying a type of equipment used in the transportation of goods.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT17</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Transport Equipment Type</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE 8053">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Equipment type code qualifier">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="D.05B">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/TransportEquipmentTypeCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:TransportEquipmentTypeCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Equipment Type_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SubstitutionStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Substitution Status_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of values that indicate the status of an OrderItem in relation to substitution, denoting an acceptable substitute in the Order, an original for which an alternative is offered in the Order Confirmation, or an original for which an actual replacement is advised in the Despatch Advice.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT15</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Substitution Status</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Substitution Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Substitution Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/SubstitutionStatusCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:SubstitutionStatusCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Substitution Status_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LineStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Line Status_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of possible statuses of a line in a transaction with regard to its original state.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT9</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Line Status</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Line Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Line Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/LineStatusCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:LineStatusCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Line Status_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Document Status_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of possible statuses of a document with regard to its original state.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT7</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Document Status</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Document Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Document Status">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/DocumentStatusCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:DocumentStatusCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Document Status_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LatitudeDirectionCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Latitude Direction_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The possible directions of latitude</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT8</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Latitude Direction</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Latitude Direction">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Latitude Direction">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/LatitudeDirectionCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:LatitudeDirectionCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Latitude Direction_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CountryIdentificationCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Country Identification_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of countries of the world.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT5</ccts:UniqueID>
          <ccts:UsageRule>Derived from the ISO 3166-1-alpha-2 code elements used under the terms of the ISO policy stated at http://www.iso.org/iso/en/commcentre/pressreleases/2003/Ref871.html.</ccts:UsageRule>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Country Identification</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="ISO3166-1">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition>Defaults to the UN/ECE rec 3 (Code for the Representation of Names of Countries)</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Country">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="0.3">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/CountryIdentificationCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:CountryIdentificationCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Country Identification_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CurrencyCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Currency_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of world currencies.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT6</ccts:UniqueID>
          <ccts:UsageRule>Derived from the ISO 4217 currency code list and used under the terms of the ISO policy stated at 
http://www.iso.org/iso/en/commcentre/pressreleases/2003/Ref871.html</ccts:UsageRule>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Currency</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="ISO 4217 Alpha">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition>Defaults to the UN/EDIFACT data element 3055 code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Currency">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2001">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/cefact/CurrencyCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:un:unece:uncefact:codelist:specification:54217:2001">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Currency_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChipCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Chip_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>Distinction between CHIP and MAG STRIPE cards</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT3</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Chip</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="Chip">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="UBL">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="OASIS Universal Business Language">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Chip">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/ChipCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:ChipCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Chip_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AllowanceChargeReasonCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Allowance Charge Reason_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of possible reasons for an allowance or charge.</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT1</ccts:UniqueID>
          <ccts:UsageRule>Used under the terms of the UNECE  policy stated at http://www.unece.org/ece_legal.htm.</ccts:UsageRule>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Allowance Charge Reason</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE 4465">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition>Defaults to the UN/EDIFACT data element 3055 code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Adjustment Reason Description">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="D03A">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition>Identifies the Directory of the UN/EDIFACT code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/AllowanceChargeReasonCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:AllowanceChargeReasonCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Allowance Charge Reason_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ChannelCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Channel_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of possible ways in which communication can be made (eg. Phone, email, etc).</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT2</ccts:UniqueID>
          <ccts:UsageRule>Used under the terms of the UNECE  policy stated at http://www.unece.org/ece_legal.htm.</ccts:UsageRule>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Channel</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE 3155">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition>Defaults to the UN/EDIFACT data element 3055 code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Communication Address Code Qualifier">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="D03A">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition>Identifies the Directory of the UN/EDIFACT code list.</ccts:Definition>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/ChannelCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:ChannelCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Channel_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TransportModeCodeType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:Component>
          <ccts:DictionaryEntryName>Transport Mode_ Code. Type</ccts:DictionaryEntryName>
          <ccts:Acronym>DT</ccts:Acronym>
          <ccts:Version>2.0</ccts:Version>
          <ccts:Definition>The set of code values for modes of transport</ccts:Definition>
          <ccts:UniqueID>UBL2.0-QDT18</ccts:UniqueID>
          <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          <ccts:QualifierTerm>Transport Mode</ccts:QualifierTerm>
        </ccts:Component>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="udt:CodeType">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional" default="UN/ECE rec 16">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional" default="6">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Agency. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional" default="United Nations Economic Commission for Europe">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Agency Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional" default="Transport Mode">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional" default="Presented by the CDWG">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Version. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code. Name. Text</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional" default="en">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Language. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional" default="http://docs.oasis-open.org/ubl/os-ubl-2.0/cl/gc/default/TransportModeCode-2.0.gc">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional" default="urn:oasis:names:specification:ubl:codelist:gc:TransportModeCode-2.0">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:Name>Transport Mode_ Code List Scheme. Uniform Resource. Identifier</ccts:Name>
              <ccts:Definition/>
              <ccts:PrimitiveType>String</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== -->
<!--
	OASIS takes no position regarding the validity or scope of any
	intellectual property or other rights that might be claimed to pertain
	to the implementation or use of the technology described in this
	document or the extent to which any license under such rights
	might or might not be available; neither does it represent that it has
	made any effort to identify any such rights. Information on OASIS's
	procedures with respect to rights in OASIS specifications can be
	found at the OASIS website. Copies of claims of rights made
	available for publication and any assurances of licenses to be made
	available, or the result of an attempt made to obtain a general
	license or permission for the use of such proprietary rights by
	implementors or users of this specification, can be obtained from
	the OASIS Executive Director.

	OASIS invites any interested party to bring to its attention any
	copyrights, patents or patent applications, or other proprietary
	rights which may cover technology that may be required to
	implement this specification. Please address the information to the
	OASIS Executive Director.

	Copyright (C) OASIS Open 2001-2006. All Rights Reserved.

	This document and translations of it may be copied and furnished to
	others, and derivative works that comment on or otherwise explain
	it or assist in its implementation may be prepared, copied,
	published and distributed, in whole or in part, without restriction of
	any kind, provided that the above copyright notice and this
	paragraph are included on all such copies and derivative works.
	However, this document itself may not be modified in any way,
	such as by removing the copyright notice or references to OASIS,
	except as needed for the purpose of developing OASIS
	specifications, in which case the procedures for copyrights defined
	in the OASIS Intellectual Property Rights document must be
	followed, or as required to translate it into languages other than
	English.

	The limited permissions granted above are perpetual and will not be
	revoked by OASIS or its successors or assigns.

	This document and the information contained herein is provided on
	an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES,
	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY
	WARRANTY THAT THE USE OF THE INFORMATION HEREIN
	WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
	WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
	PARTICULAR PURPOSE.
-->
