src/main/resources/nl/clockwork/efactuur/nl/domain/ubl/1.6.3/xsdrt/common/UBL-CommonAggregateComponents-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Document type:	CommonAggregateComponents
	Generated on:	Wed, 27-Apr-2011 09:09:05
	Generated by:	 eDoCreator
-->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
    version="2.0"
    xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
    xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
    xmlns:ccts="urn:un:unece:uncefact:documentation:2"
    xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
    xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- ===== Imports ===== -->
    <xsd:import
        namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBL-CommonBasicComponents-2.0.xsd"/>
    <xsd:import
        namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
    <xsd:import
        namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2" schemaLocation="UBL-QualifiedDataTypes-2.0.xsd"/>
    <!-- ===== Element Declarations ===== -->
    <xsd:element name="AccountingContact" type="ContactType"/>
    <xsd:element name="AccountingCustomerParty" type="CustomerPartyType"/>
    <xsd:element name="AccountingSupplierParty" type="SupplierPartyType"/>
    <xsd:element name="ActualPackage" type="PackageType"/>
    <xsd:element name="AdditionalDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="AdditionalItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="AdditionalItemProperty" type="ItemPropertyType"/>
    <xsd:element name="AdditionalTemperature" type="TemperatureType"/>
    <xsd:element name="Address" type="AddressType"/>
    <xsd:element name="AddressLine" type="AddressLineType"/>
    <xsd:element name="AgentParty" type="PartyType"/>
    <xsd:element name="AirTransport" type="AirTransportType"/>
    <xsd:element name="AllowanceCharge" type="AllowanceChargeType"/>
    <xsd:element name="AlternativeConditionPrice" type="PriceType"/>
    <xsd:element name="AnticipatedMonetaryTotal" type="MonetaryTotalType"/>
    <xsd:element name="ApplicableTaxCategory" type="TaxCategoryType"/>
    <xsd:element name="ApplicableTerritoryAddress" type="AddressType"/>
    <xsd:element name="Attachment" type="AttachmentType"/>
    <xsd:element name="BillingReference" type="BillingReferenceType"/>
    <xsd:element name="BillingReferenceLine" type="BillingReferenceLineType"/>
    <xsd:element name="Branch" type="BranchType"/>
    <xsd:element name="BuyerContact" type="ContactType"/>
    <xsd:element name="BuyerCustomerParty" type="CustomerPartyType"/>
    <xsd:element name="BuyerProposedSubstituteLineItem" type="LineItemType"/>
    <xsd:element name="BuyersItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="CardAccount" type="CardAccountType"/>
    <xsd:element name="CarrierParty" type="PartyType"/>
    <xsd:element name="CatalogueDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="CatalogueItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="CatalogueLineReference" type="LineReferenceType"/>
    <xsd:element name="ClassifiedTaxCategory" type="TaxCategoryType"/>
    <xsd:element name="CommodityClassification" type="CommodityClassificationType"/>
    <xsd:element name="Communication" type="CommunicationType"/>
    <xsd:element name="ConsigneeParty" type="PartyType"/>
    <xsd:element name="Consignment" type="ConsignmentType"/>
    <xsd:element name="ConsignorParty" type="PartyType"/>
    <xsd:element name="Contact" type="ContactType"/>
    <xsd:element name="ContactParty" type="PartyType"/>
    <xsd:element name="ContainedGoodsItem" type="GoodsItemType"/>
    <xsd:element name="ContainedPackage" type="PackageType"/>
    <xsd:element name="Contract" type="ContractType"/>
    <xsd:element name="ContractDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="CorporateRegistrationScheme" type="CorporateRegistrationSchemeType"/>
    <xsd:element name="Country" type="CountryType"/>
    <xsd:element name="CreditAccount" type="CreditAccountType"/>
    <xsd:element name="CreditNoteDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="CustomerParty" type="CustomerPartyType"/>
    <xsd:element name="DebitNoteDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="Delivery" type="DeliveryType"/>
    <xsd:element name="DeliveryAddress" type="AddressType"/>
    <xsd:element name="DeliveryContact" type="ContactType"/>
    <xsd:element name="DeliveryCustomerParty" type="CustomerPartyType"/>
    <xsd:element name="DeliveryLocation" type="LocationType"/>
    <xsd:element name="DeliveryParty" type="PartyType"/>
    <xsd:element name="DeliveryTerms" type="DeliveryTermsType"/>
    <xsd:element name="DeliveryUnit" type="DeliveryUnitType"/>
    <xsd:element name="Despatch" type="DespatchType"/>
    <xsd:element name="DespatchAddress" type="AddressType"/>
    <xsd:element name="DespatchContact" type="ContactType"/>
    <xsd:element name="DespatchDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="DespatchLine" type="DespatchLineType"/>
    <xsd:element name="DespatchLineReference" type="LineReferenceType"/>
    <xsd:element name="DespatchParty" type="PartyType"/>
    <xsd:element name="DespatchSupplierParty" type="SupplierPartyType"/>
    <xsd:element name="DestinationCountry" type="CountryType"/>
    <xsd:element name="DigitalSignatureAttachment" type="AttachmentType"/>
    <xsd:element name="Dimension" type="DimensionType"/>
    <xsd:element name="DocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="DocumentResponse" type="DocumentResponseType"/>
    <xsd:element name="EmergencyTemperature" type="TemperatureType"/>
    <xsd:element name="EstimatedDeliveryPeriod" type="PeriodType"/>
    <xsd:element name="ExchangeRate" type="ExchangeRateType"/>
    <xsd:element name="ExportCountry" type="CountryType"/>
    <xsd:element name="ExporterParty" type="PartyType"/>
    <xsd:element name="ExternalReference" type="ExternalReferenceType"/>
    <xsd:element name="FinalDeliveryParty" type="PartyType"/>
    <xsd:element name="FinalDeliveryTransportationService" type="TransportationServiceType"/>
    <xsd:element name="FinalDestinationCountry" type="CountryType"/>
    <xsd:element name="FinancialAccount" type="FinancialAccountType"/>
    <xsd:element name="FinancialInstitution" type="FinancialInstitutionType"/>
    <xsd:element name="FinancialInstitutionBranch" type="BranchType"/>
    <xsd:element name="FirstArrivalPortLocation" type="LocationType"/>
    <xsd:element name="FlashpointTemperature" type="TemperatureType"/>
    <xsd:element name="ForeignExchangeContract" type="ContractType"/>
    <xsd:element name="FreightAllowanceCharge" type="AllowanceChargeType"/>
    <xsd:element name="FreightForwarderParty" type="PartyType"/>
    <xsd:element name="GoodsItem" type="GoodsItemType"/>
    <xsd:element name="GoodsItemContainer" type="GoodsItemContainerType"/>
    <xsd:element name="HandlingUnitDespatchLine" type="DespatchLineType"/>
    <xsd:element name="HazardousGoodsTransit" type="HazardousGoodsTransitType"/>
    <xsd:element name="HazardousItem" type="HazardousItemType"/>
    <xsd:element name="ImporterParty" type="PartyType"/>
    <xsd:element name="InformationContentProviderParty" type="PartyType"/>
    <xsd:element name="InvoiceDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="InvoiceLine" type="InvoiceLineType"/>
    <xsd:element name="InvoicePeriod" type="PeriodType"/>
    <xsd:element name="IssuerParty" type="PartyType"/>
    <xsd:element name="Item" type="ItemType"/>
    <xsd:element name="ItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="ItemInstance" type="ItemInstanceType"/>
    <xsd:element name="ItemLocationQuantity" type="ItemLocationQuantityType"/>
    <xsd:element name="ItemProperty" type="ItemPropertyType"/>
    <xsd:element name="ItemPropertyGroup" type="ItemPropertyGroupType"/>
    <xsd:element name="ItemSpecificationDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="JurisdictionRegionAddress" type="AddressType"/>
    <xsd:element name="Language" type="LanguageType"/>
    <xsd:element name="LastExitPortLocation" type="LocationType"/>
    <xsd:element name="LegalMonetaryTotal" type="MonetaryTotalType"/>
    <xsd:element name="LineItem" type="LineItemType"/>
    <xsd:element name="LineReference" type="LineReferenceType"/>
    <xsd:element name="LineResponse" type="LineResponseType"/>
    <xsd:element name="LineValidityPeriod" type="PeriodType"/>
    <xsd:element name="LoadingLocation" type="LocationType"/>
    <xsd:element name="LoadingPortLocation" type="LocationType"/>
    <xsd:element name="LoadingProofParty" type="PartyType"/>
    <xsd:element name="Location" type="LocationType"/>
    <xsd:element name="LocationCoordinate" type="LocationCoordinateType"/>
    <xsd:element name="LotIdentification" type="LotIdentificationType"/>
    <xsd:element name="ManufacturerParty" type="PartyType"/>
    <xsd:element name="ManufacturersItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="MaritimeTransport" type="MaritimeTransportType"/>
    <xsd:element name="MaximumTemperature" type="TemperatureType"/>
    <xsd:element name="MeasurementDimension" type="DimensionType"/>
    <xsd:element name="MinimumTemperature" type="TemperatureType"/>
    <xsd:element name="MonetaryTotal" type="MonetaryTotalType"/>
    <xsd:element name="NotifyParty" type="PartyType"/>
    <xsd:element name="OrderDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="OrderLine" type="OrderLineType"/>
    <xsd:element name="OrderLineReference" type="OrderLineReferenceType"/>
    <xsd:element name="OrderReference" type="OrderReferenceType"/>
    <xsd:element name="OrderedShipment" type="OrderedShipmentType"/>
    <xsd:element name="OriginAddress" type="AddressType"/>
    <xsd:element name="OriginCountry" type="CountryType"/>
    <xsd:element name="OriginalDepartureCountry" type="CountryType"/>
    <xsd:element name="OriginalDespatchParty" type="PartyType"/>
    <xsd:element name="OriginalDespatchTransportationService" type="TransportationServiceType"/>
    <xsd:element name="OriginalDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="OriginalItemLocationQuantity" type="ItemLocationQuantityType"/>
    <xsd:element name="OriginatorCustomerParty" type="CustomerPartyType"/>
    <xsd:element name="OriginatorDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="OriginatorParty" type="PartyType"/>
    <xsd:element name="OtherCommunication" type="CommunicationType"/>
    <xsd:element name="OwnerParty" type="PartyType"/>
    <xsd:element name="Package" type="PackageType"/>
    <xsd:element name="Party" type="PartyType"/>
    <xsd:element name="PartyIdentification" type="PartyIdentificationType"/>
    <xsd:element name="PartyLegalEntity" type="PartyLegalEntityType"/>
    <xsd:element name="PartyName" type="PartyNameType"/>
    <xsd:element name="PartyTaxScheme" type="PartyTaxSchemeType"/>
    <xsd:element name="PayeeFinancialAccount" type="FinancialAccountType"/>
    <xsd:element name="PayeeParty" type="PartyType"/>
    <xsd:element name="PayerFinancialAccount" type="FinancialAccountType"/>
    <xsd:element name="Payment" type="PaymentType"/>
    <xsd:element name="PaymentAlternativeExchangeRate" type="ExchangeRateType"/>
    <xsd:element name="PaymentExchangeRate" type="ExchangeRateType"/>
    <xsd:element name="PaymentMeans" type="PaymentMeansType"/>
    <xsd:element name="PaymentTerms" type="PaymentTermsType"/>
    <xsd:element name="PenaltyPeriod" type="PeriodType"/>
    <xsd:element name="Period" type="PeriodType"/>
    <xsd:element name="Person" type="PersonType"/>
    <xsd:element name="PhysicalAttribute" type="PhysicalAttributeType"/>
    <xsd:element name="PhysicalLocation" type="LocationType"/>
    <xsd:element name="PostalAddress" type="AddressType"/>
    <xsd:element name="PrepaidPayment" type="PaymentType"/>
    <xsd:element name="PreviousPriceList" type="PriceListType"/>
    <xsd:element name="Price" type="PriceType"/>
    <xsd:element name="PriceList" type="PriceListType"/>
    <xsd:element name="PricingExchangeRate" type="ExchangeRateType"/>
    <xsd:element name="PricingReference" type="PricingReferenceType"/>
    <xsd:element name="PromisedDeliveryPeriod" type="PeriodType"/>
    <xsd:element name="ProviderParty" type="PartyType"/>
    <xsd:element name="QuotationDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="QuotationLine" type="QuotationLineType"/>
    <xsd:element name="QuotationLineReference" type="LineReferenceType"/>
    <xsd:element name="QuotedMonetaryTotal" type="MonetaryTotalType"/>
    <xsd:element name="RailTransport" type="RailTransportType"/>
    <xsd:element name="ReceiptDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="ReceiptLine" type="ReceiptLineType"/>
    <xsd:element name="ReceiptLineReference" type="LineReferenceType"/>
    <xsd:element name="ReceivedHandlingUnitReceiptLine" type="ReceiptLineType"/>
    <xsd:element name="ReceiverParty" type="PartyType"/>
    <xsd:element name="RecipientParty" type="PartyType"/>
    <xsd:element name="RegistrationAddress" type="AddressType"/>
    <xsd:element name="ReminderDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="RequestForQuotationDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="RequestForQuotationLine" type="RequestForQuotationLineType"/>
    <xsd:element name="RequestedDeliveryPeriod" type="PeriodType"/>
    <xsd:element name="Response" type="ResponseType"/>
    <xsd:element name="RoadTransport" type="RoadTransportType"/>
    <xsd:element name="SecondaryHazard" type="SecondaryHazardType"/>
    <xsd:element name="SelfBilledCreditNoteDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="SelfBilledInvoiceDocumentReference" type="DocumentReferenceType"/>
    <xsd:element name="SellerContact" type="ContactType"/>
    <xsd:element name="SellerProposedSubstituteLineItem" type="LineItemType"/>
    <xsd:element name="SellerSubstitutedLineItem" type="LineItemType"/>
    <xsd:element name="SellerSupplierParty" type="SupplierPartyType"/>
    <xsd:element name="SellersItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="SenderParty" type="PartyType"/>
    <xsd:element name="SettlementPeriod" type="PeriodType"/>
    <xsd:element name="Shipment" type="ShipmentType"/>
    <xsd:element name="ShipmentStage" type="ShipmentStageType"/>
    <xsd:element name="SignatoryParty" type="PartyType"/>
    <xsd:element name="Signature" type="SignatureType"/>
    <xsd:element name="StandardItemIdentification" type="ItemIdentificationType"/>
    <xsd:element name="Stowage" type="StowageType"/>
    <xsd:element name="SupplierParty" type="SupplierPartyType"/>
    <xsd:element name="TaxCategory" type="TaxCategoryType"/>
    <xsd:element name="TaxExchangeRate" type="ExchangeRateType"/>
    <xsd:element name="TaxRepresentativeParty" type="PartyType"/>
    <xsd:element name="TaxScheme" type="TaxSchemeType"/>
    <xsd:element name="TaxSubtotal" type="TaxSubtotalType"/>
    <xsd:element name="TaxTotal" type="TaxTotalType"/>
    <xsd:element name="Temperature" type="TemperatureType"/>
    <xsd:element name="TransactionConditions" type="TransactionConditionsType"/>
    <xsd:element name="TransitCountry" type="CountryType"/>
    <xsd:element name="TransitPeriod" type="PeriodType"/>
    <xsd:element name="TransportContract" type="ContractType"/>
    <xsd:element name="TransportEquipment" type="TransportEquipmentType"/>
    <xsd:element name="TransportEquipmentSeal" type="TransportEquipmentSealType"/>
    <xsd:element name="TransportHandlingUnit" type="TransportHandlingUnitType"/>
    <xsd:element name="TransportMeans" type="TransportMeansType"/>
    <xsd:element name="TransportationService" type="TransportationServiceType"/>
    <xsd:element name="TransshipPortLocation" type="LocationType"/>
    <xsd:element name="UnloadingPortLocation" type="LocationType"/>
    <xsd:element name="UsabilityPeriod" type="PeriodType"/>
    <xsd:element name="ValidityPeriod" type="PeriodType"/>
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AddressTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AddressFormatCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Postbox"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Floor"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Room"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:StreetName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AdditionalStreetName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BlockName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BuildingName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BuildingNumber"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InhouseMail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Department"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MarkAttention"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MarkCare"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PlotIdentification"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CitySubdivisionName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CityName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PostalZone"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CountrySubentity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CountrySubentityCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Region"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:District"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TimezoneOffset"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AddressLine"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Country"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LocationCoordinate"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Line"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AirTransportType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:AircraftID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AllowanceChargeType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ChargeIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AllowanceChargeReasonCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AllowanceChargeReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MultiplierFactorNumeric"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PrepaidIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SequenceNumeric"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Amount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BaseAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCostCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCost"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TaxCategory"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TaxTotal"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PaymentMeans"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AttachmentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EmbeddedDocumentBinaryObject"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ExternalReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BillingReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="InvoiceDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="SelfBilledInvoiceDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CreditNoteDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="SelfBilledCreditNoteDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DebitNoteDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ReminderDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AdditionalDocumentReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="BillingReferenceLine"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BillingReferenceLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Amount"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AllowanceCharge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BranchType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FinancialInstitution"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Address"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CardAccountType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:PrimaryAccountNumberID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:NetworkID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CardTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ValidityStartDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExpiryDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssuerID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueNumberID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CV2ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CardChipCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ChipApplicationID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HolderName"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommodityClassificationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NatureCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CargoTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CommodityCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ItemClassificationCode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommunicationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ChannelCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Channel"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Value"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsignmentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:SummaryDescription"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalInvoiceAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredCustomsValueAmount"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:TariffDescription"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TariffCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InsurancePremiumAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetNetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ChargeableWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LoadingLengthMeasure"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Remarks"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ConsigneeParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ExporterParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ConsignorParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ImporterParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CarrierParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FreightForwarderParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="NotifyParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalDespatchParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FinalDeliveryParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalDepartureCountry"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FinalDestinationCountry"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransitCountry"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TransportContract"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalDespatchTransportationService"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FinalDeliveryTransportationService"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryTerms"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PaymentTerms"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="FreightAllowanceCharge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Telephone"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Telefax"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ElectronicMail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OtherCommunication"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContractType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ContractTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ContractType"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ValidityPeriod"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ContractDocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CorporateRegistrationSchemeType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CorporateRegistrationTypeCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="JurisdictionRegionAddress"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CountryType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IdentificationCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CreditAccountType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:AccountID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CustomerPartyType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomerAssignedAccountID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SupplierAssignedAccountID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:AdditionalAccountID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Party"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryContact"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AccountingContact"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="BuyerContact"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MinimumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MaximumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ActualDeliveryDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ActualDeliveryTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LatestDeliveryDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LatestDeliveryTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TrackingID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RequestedDeliveryPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PromisedDeliveryPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="EstimatedDeliveryPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Despatch"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryTermsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SpecialTerms"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LossRiskResponsibilityCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LossRisk"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AllowanceCharge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeliveryUnitType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:BatchQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ConsumerUnitQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DespatchType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RequestedDespatchDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RequestedDespatchTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EstimatedDespatchDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EstimatedDespatchTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ActualDespatchDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ActualDespatchTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DespatchAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DespatchParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Contact"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DespatchLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeliveredQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BackorderQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BackorderReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OutstandingQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OutstandingReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OversupplyQuantity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="OrderLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Item"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Shipment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DimensionType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:AttributeID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Measure"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MinimumMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MaximumMeasure"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CopyIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DocumentTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DocumentType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:XPath"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Attachment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentResponseType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Response"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="DocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="IssuerParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RecipientParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="LineResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExchangeRateType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:SourceCurrencyCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SourceCurrencyBaseRate"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:TargetCurrencyCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TargetCurrencyBaseRate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExchangeMarketID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CalculationRate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MathematicOperatorCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Date"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ForeignExchangeContract"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExternalReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:URI"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DocumentHash"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExpiryDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExpiryTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FinancialAccountType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CurrencyCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:PaymentNote"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FinancialInstitutionBranch"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Country"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FinancialInstitutionType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Address"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GoodsItemType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SequenceNumberID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredCustomsValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredForCarriageValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredStatisticsValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FreeOnBoardValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InsuranceValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetNetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ChargeableWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PreferenceCriterionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RequiredCustomsID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomsStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomsTariffQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomsImportClassifiedIndicator"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Item"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="GoodsItemContainer"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="FreightAllowanceCharge"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="InvoiceLine"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Temperature"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ContainedGoodsItem"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginAddress"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GoodsItemContainerType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportEquipment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HazardousGoodsTransitType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportEmergencyCardCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PackingCriteriaCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRegulationCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InhalationToxicityZoneCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportAuthorizationCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MaximumTemperature"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MinimumTemperature"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HazardousItemType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PlacardNotation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PlacardEndorsement"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AdditionalInformation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UNDGCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EmergencyProceduresCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MedicalFirstAidGuideCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TechnicalName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CategoryName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousCategoryCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UpperOrangeHazardPlacardID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LowerOrangeHazardPlacardID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MarkingID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardClassID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ContactParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SecondaryHazard"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="HazardousGoodsTransit"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="EmergencyTemperature"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FlashpointTemperature"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalTemperature"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InvoiceLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InvoicedQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:LineExtensionAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxPointDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCostCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCost"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FreeOfChargeIndicator"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OrderLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DespatchLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ReceiptLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="BillingReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PricingReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginatorParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Delivery"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PaymentTerms"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AllowanceCharge"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TaxTotal"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Item"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Price"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryTerms"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PackQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PackSizeNumeric"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CatalogueIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AdditionalInformation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Keyword"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:BrandName"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:ModelName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="BuyersItemIdentification"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="SellersItemIdentification"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ManufacturersItemIdentification"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="StandardItemIdentification"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CatalogueItemIdentification"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalItemIdentification"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CatalogueDocumentReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ItemSpecificationDocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginCountry"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CommodityClassification"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransactionConditions"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="HazardousItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ClassifiedTaxCategory"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalItemProperty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ManufacturerParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="InformationContentProviderParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OriginAddress"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ItemInstance"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemIdentificationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExtendedID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PhysicalAttribute"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MeasurementDimension"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="IssuerParty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemInstanceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ProductTraceID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ManufactureDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ManufactureTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RegistrationID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SerialID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalItemProperty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LotIdentification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemLocationQuantityType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LeadTimeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MinimumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MaximumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:TradingRestrictions"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ApplicableTerritoryAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Price"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DeliveryUnit"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ApplicableTaxCategory"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemPropertyType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Value"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="UsabilityPeriod"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ItemPropertyGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemPropertyGroupType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LanguageType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LocaleCode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LineItemType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SalesOrderID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineExtensionAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalTaxAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MinimumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MaximumQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MinimumBackorderQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MaximumBackorderQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InspectionMethodCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PartialDeliveryIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BackOrderAllowedIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCostCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AccountingCost"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Delivery"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DeliveryTerms"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginatorParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="OrderedShipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PricingReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AllowanceCharge"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Price"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Item"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LineReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:LineID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LineResponseType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Response"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LocationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Description"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Conditions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CountrySubentity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CountrySubentityCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ValidityPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Address"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LocationCoordinateType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CoordinateSystemCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LatitudeDegreesMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LatitudeMinutesMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LatitudeDirectionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LongitudeDegreesMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LongitudeMinutesMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LongitudeDirectionCode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LotIdentificationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LotNumberID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExpiryDate"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalItemProperty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MaritimeTransportType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:VesselID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:VesselName"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MonetaryTotalType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineExtensionAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxExclusiveAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxInclusiveAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:AllowanceTotalAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ChargeTotalAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PrepaidAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PayableRoundingAmount"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:PayableAmount"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SubstitutionStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LineItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SellerProposedSubstituteLineItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SellerSubstitutedLineItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="BuyerProposedSubstituteLineItem"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CatalogueLineReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="QuotationLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderLineReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:LineID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SalesOrderLineID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OrderReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SalesOrderID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CopyIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:IssueTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomerReference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderedShipmentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Shipment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Package"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PackageType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReturnableMaterialIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PackageLevelCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PackagingTypeCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:PackingMaterial"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ContainedPackage"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="GoodsItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MeasurementDimension"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DeliveryUnit"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MarkCareIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MarkAttentionIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:WebsiteURI"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LogoReferenceID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EndpointID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PartyIdentification"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PartyName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Language"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PostalAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PhysicalLocation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PartyTaxScheme"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PartyLegalEntity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Contact"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Person"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AgentParty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyIdentificationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyLegalEntityType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RegistrationName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CompanyID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RegistrationAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CorporateRegistrationScheme"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyNameType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Name"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyTaxSchemeType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RegistrationName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CompanyID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxLevelCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExemptionReasonCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ExemptionReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RegistrationAddress"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TaxScheme"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaidAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReceivedDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaidDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaidTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InstructionID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentMeansType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:PaymentMeansCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaymentDueDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaymentChannelCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InstructionID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:InstructionNote"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:PaymentID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CardAccount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PayerFinancialAccount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PayeeFinancialAccount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="CreditAccount"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentTermsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PaymentMeansID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PrepaidPaymentReferenceID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReferenceEventCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SettlementDiscountPercent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PenaltySurchargePercent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Amount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="SettlementPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PenaltyPeriod"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PeriodType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:StartDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:StartTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EndDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EndTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DurationMeasure"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:DescriptionCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FirstName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FamilyName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Title"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:MiddleName"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NameSuffix"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:JobTitle"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OrganizationDepartment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhysicalAttributeType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:AttributeID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PositionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DescriptionCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:PriceAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BaseQuantity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:PriceChangeReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PriceTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PriceType"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OrderableUnitFactorRate"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ValidityPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PriceList"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AllowanceCharge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceListType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:StatusCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ValidityPeriod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="PreviousPriceList"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PricingReferenceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalItemLocationQuantity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AlternativeConditionPrice"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QuotationLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Quantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LineExtensionAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalTaxAmount"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LineItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SellerProposedSubstituteLineItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RailTransportType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:TrainID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RailCarID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReceiptLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReceivedQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ShortQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ShortageActionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RejectedQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RejectReasonCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RejectReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RejectActionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OversupplyQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReceivedDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TimingComplaintCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TimingComplaint"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OrderLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DespatchLineReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Item"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Shipment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RequestForQuotationLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:UUID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="LineItem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ReferenceID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ResponseCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RoadTransportType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:LicensePlateID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SecondaryHazardType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PlacardNotation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PlacardEndorsement"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:EmergencyProceduresCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Extension"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShipmentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ShippingPriorityLevelCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HandlingCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HandlingInstructions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Information"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetNetWeightMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:GrossVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:NetVolumeMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalGoodsItemQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalTransportHandlingUnitQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:InsuranceValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredCustomsValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredForCarriageValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DeclaredStatisticsValueAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FreeOnBoardValueAmount"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:SpecialInstructions"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:DeliveryInstructions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SplitConsignmentIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="Consignment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="GoodsItem"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ShipmentStage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Delivery"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportHandlingUnit"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="FirstArrivalPortLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LastExitPortLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ExportCountry"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="FreightAllowanceCharge"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShipmentStageType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportModeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportMeansTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransitDirectionCode"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:PreCarriageIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:OnCarriageIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TransitPeriod"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CarrierParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TransportMeans"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LoadingPortLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="UnloadingPortLocation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="TransshipPortLocation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SignatureType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Note"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ValidationDate"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ValidationTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ValidatorID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CanonicalizationMethod"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SignatureMethod"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="SignatoryParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DigitalSignatureAttachment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OriginalDocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StowageType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LocationID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Location"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MeasurementDimension"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SupplierPartyType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CustomerAssignedAccountID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:AdditionalAccountID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DataSendingCapability"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Party"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="DespatchContact"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AccountingContact"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="SellerContact"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxCategoryType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Percent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BaseUnitMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PerUnitAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxExemptionReasonCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxExemptionReason"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TierRange"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TierRatePercent"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TaxScheme"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxSchemeType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Name"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CurrencyCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="JurisdictionRegionAddress"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxSubtotalType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxableAmount"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:TaxAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:CalculationSequenceNumeric"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransactionCurrencyTaxAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Percent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:BaseUnitMeasure"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:PerUnitAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TierRange"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TierRatePercent"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="TaxCategory"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxTotalType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:TaxAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RoundingAmount"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TaxEvidenceIndicator"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TaxSubtotal"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TemperatureType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:AttributeID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:Measure"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransactionConditionsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ActionCode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:Description"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="DocumentReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransportEquipmentType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportEquipmentTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ProviderTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:OwnerTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SizeTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DispositionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FullnessIndicationCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RefrigerationOnIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Information"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ReturnabilityIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:LegalStatusIndicator"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MeasurementDimension"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportEquipmentSeal"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MinimumTemperature"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MaximumTemperature"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="ProviderParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LoadingProofParty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="LoadingLocation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransportEquipmentSealType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SealIssuerTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Condition"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SealStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:SealingPartyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransportHandlingUnitType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:ID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TransportHandlingUnitTypeCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HandlingCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HandlingInstructions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:HazardousRiskIndicator"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalGoodsItemQuantity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TotalPackageQuantity"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:DamageRemarks"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:ShippingMarks"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="HandlingUnitDespatchLine"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ActualPackage"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ReceivedHandlingUnitReceiptLine"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransportEquipment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="HazardousGoodsTransit"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MeasurementDimension"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MinimumTemperature"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MaximumTemperature"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransportMeansType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:JourneyID"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:RegistrationNationalityID"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="cbc:RegistrationNationality"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:DirectionCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="Stowage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="AirTransport"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RoadTransport"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="RailTransport"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="MaritimeTransport"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="OwnerParty"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransportationServiceType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="cbc:TransportServiceCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:TariffClassCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:Priority"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="cbc:FreightRateClassCode"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ===== -->
<!--
	OASIS takes no position regarding the validity or scope of any
	intellectual property or other rights that might be claimed to pertain
	to the implementation or use of the technology described in this
	document or the extent to which any license under such rights
	might or might not be available; neither does it represent that it has
	made any effort to identify any such rights. Information on OASIS's
	procedures with respect to rights in OASIS specifications can be
	found at the OASIS website. Copies of claims of rights made
	available for publication and any assurances of licenses to be made
	available, or the result of an attempt made to obtain a general
	license or permission for the use of such proprietary rights by
	implementors or users of this specification, can be obtained from
	the OASIS Executive Director.

	OASIS invites any interested party to bring to its attention any
	copyrights, patents or patent applications, or other proprietary
	rights which may cover technology that may be required to
	implement this specification. Please address the information to the
	OASIS Executive Director.

	Copyright (C) OASIS Open 2001-2006. All Rights Reserved.

	This document and translations of it may be copied and furnished to
	others, and derivative works that comment on or otherwise explain
	it or assist in its implementation may be prepared, copied,
	published and distributed, in whole or in part, without restriction of
	any kind, provided that the above copyright notice and this
	paragraph are included on all such copies and derivative works.
	However, this document itself may not be modified in any way,
	such as by removing the copyright notice or references to OASIS,
	except as needed for the purpose of developing OASIS
	specifications, in which case the procedures for copyrights defined
	in the OASIS Intellectual Property Rights document must be
	followed, or as required to translate it into languages other than
	English.

	The limited permissions granted above are perpetual and will not be
	revoked by OASIS or its successors or assigns.

	This document and the information contained herein is provided on
	an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES,
	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY
	WARRANTY THAT THE USE OF THE INFORMATION HEREIN
	WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
	WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
	PARTICULAR PURPOSE.
-->
